.bg-img{
 background: url(/assets/images/7/a0462d169370d38a83ed48207ecb742a2a226fe4.png);
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}


.share-absolute{
    position: absolute;
    top: 16px;
    right:16px; 
}


.mb-212{
    margin-bottom: 212px;
}

.mb-27{
    margin-bottom: 27px;
}