// .word-bg{
//     background-color: #FAF5EC;

// }

.py-12 {
  padding: 12px 0px;
}

.keyboard {
  width: 100%;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-31-93 {
  margin-bottom: 31.93px;
}







.common-area {
  height: 188px;
}



.p-span {
  padding: 1px 12px;
}

.us-absolute {
  position: absolute;
  top: 27.93px;
  left: 38px;
}

.usa-absolute {
  position: absolute;
  top: 27.66px;
  left: 232px;
}

.travel-absolute {
  position: absolute;
  top: 67.93px;
  left: 151px;
}

.coffee-absolute {
  position: absolute;
  top: 99.93px;
  left: 18px;
}

.lodon-absolute {
  position: absolute;
  top: 139.93px;
  left: 151px;
}

.europe-absolute {
  position: absolute;
  top: 107.66px;
  left: 254px;
}
