<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>index</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->
    <div class="wrapper">
      <div class="app-wrapper">
        <!-- 手機外框 -->
        <section class="app-content">
          <div class="status-bar">
           <div class="iphone-time"><time datetime="09:41">9:41</time></div>
           <div class="notch" aria-hidden="true"><img src="/assets/images/icon-notch-6341937a.svg" alt="status" height="30"></div>
            <div class="iphone-status">
              <img src="/assets/images/icon-status-650aa77e.svg" alt="status" height="13">
            </div>
          </div>

          <!-- 實際內容畫面，內容寫在這 -->
          <main class="container">
            <div class="position-relative match-wrapper">
                <img src="/assets/images/MatchSuccess.svg" alt="" class="match-img">
                <img src="/assets/images/match-bubbo.png" alt="" class="bubbo-img">   
            </div>
            <div class="border border-1 border-neutral-600 rounded-3 position-relative area common-area mb-4">
                <p class="text-neutral-800 fw-bold text-center text-absolute">你們有這些共同點，聊聊看也許有驚喜！</p>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-accent-800 text-primary-700 bg-accent-200 us-absolute fw-bold">英國</span>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-primary-700 text-accent-300 bg-secondary-500 usa-absolute fw-bold">美國</span>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-accent-400 text-accent-950 bg-secondary-300 travel-absolute fw-bold">旅遊</span>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-accent-300 text-neutral-50 bg-accent-800 coffee-absolute fw-bold">咖啡拉花</span>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-accent-800 text-primary-700 bg-accent-200 lodon-absolute fw-bold">倫敦</span>
                <span class="border border-4  rounded-pill shadow-big p-span fs-5 border-secondary-500 text-primary-700 bg-accent-50 europe-absolute fw-bold">環歐</span>

            </div>
            <div class="mb-31-93">
                <button class="btn w-100 bg-primary-700 py-12 text-primary-50 rounded-pill">開始聊天</button>
            </div>
            

         



          </main>
          <%- include('./layout/footer'); -%>

          <!-- 實際內容畫面，內容寫到這 -->
          <div class="homeindicator">
            <div class="indicator "></div>
          </div>
        </section>
      </div>
    </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
